$remInPixels:16;
@function strip-units($value){
    @return $value / ($value * 0 +1) ;
}

@function pxToRem($pixelsValue){
    $rawPixelsValue : strip-units($pixelsValue);
    $remValue: $rawPixelsValue/$remInPixels;
    @return #{$remValue};
}